/* Root variables for borders, border radiuses, and margins used throughout document */
:root {
    --img-border: 10px solid black;
    --img-border-radius: 50%;
    --panel-margin: 50px;

}

/* Flex properties for body of index.html */
body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Size and background color for main of index.html */
main {
    width: 100%;
    height: 100%;
    background-color: rgb(119, 150, 177);
}

/* Assigning font color and font family for h1-6 and p for index.html */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
}

/* Header padding, flex direction, background color, and border for index.html*/
.header {
    padding: 20px;
    flex-direction: row;
    background-color: white;
    border: var(--img-border);
}

/* Header Navigation properties */
.header nav {
    padding-right: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(241, 179, 63);
    border: var(--img-border);
}

/* Header Navigation list style, set to none to avoid unwanted circles, squares, etc next to navigation list items */
.header nav ul {
    list-style-type: none;
}

/* Header Navigation list item display and margin settings */
.header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

/* Text color for unvisited link */
a:link {
    color: black;
  }
  
  /* Text color for visited link */
  a:visited {
    color: rgb(128, 0, 0);
  }
  
  /* Text color for text with a mouse over link */
  a:hover {
    color: rgb(245, 61, 61);
  }
  
  /* Text color for link while selected */
  a:active {
    color: rgb(153, 57, 57);
  }


  /* Code used to prevent images from becoming blurry once scaled down to a certain size, without this code all images will become blurry once scaled down beyond a certain amount.
  I'm not sure how Im supposed to cite code for assignments, so here is a link to where I found this: https://tutorialsclass.com/code/css-code-to-fix-blurry-image-when-scaling-down/
  */
img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }

  /* About Me panel properties */
#about-me {
    margin-top: 100px;
    flex: 1 0 100%;
    padding: 2rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    width: 70%;
    border: 10px solid black;
    min-width: 0;
    background-image: linear-gradient(
        rgb(226, 240, 247) 0%,
        rgb(186, 211, 221) 100%
        );
}

 /* Work panel properties */
#work {
    margin-top: var(--panel-margin);
    flex: 1 0 100%;
    padding: 2rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    width: 70%;
    height: auto;
    overflow:auto;
    border: 10px solid black;
    min-width: 0;
    background-image: linear-gradient(
        rgb(226, 240, 247) 0%,
        rgb(150, 187, 202) 100%
        );
}

 /* Contact Me panel properties */
#contact-me {
    margin-top: var(--panel-margin);
    margin-bottom: var(--panel-margin);
    flex: 1 0 100%;
    padding: 2rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    width: 70%;
    border: 10px solid black;
    min-width: 0;
    height: auto;
    overflow:auto;
    background-image: linear-gradient(
        rgb(226, 240, 247) 0%,
        rgb(186, 211, 221) 100%
        );
}

 /* About Me Photo properties */
.profile-pic {
    flex-wrap: wrap;
    float: left;
    margin-top: -15px;
    margin-right: 25px;
    max-height: 150px;
    border: var(--img-border);
    border-radius: var(--img-border-radius);
    object-fit:contain;
    min-width: 0;
}

/* Work panel icon photo properties */
.work-pic {
    flex-wrap: wrap;
    float: left;
    margin-top: -15px;
    margin-right: 25px;
    max-height: 150px;
    border: var(--img-border);
    border-radius: var(--img-border-radius);
    object-fit:contain;
    min-width: 0;
}

/* Work projects photo properties */
.work-pic1 {
    flex-wrap: wrap;
    float: left;
    margin-top: -15px;
    margin-right: 25px;
    max-height: 150px;
    border: var(--img-border);
    object-fit:contain;
    min-width: 0;
}

/* Spacing property used for margin of Module 1 Challenge item in Work panel */
.spacing {
    margin-top: 100px;
}

/* Spacing property used for margin of Game Development and HWY 17 Hotel items in Work panel */
.spacing2 {
    margin-top: 120px;
}

/* Footer properties */
footer {
    background-color: white;
    border: var(--img-border);
    text-align: center;
}

/* Flex properties adjusting About Me photo size and Work projects spacing when viewing the page on a slimmer browser window */
@media screen and (max-width: 720px) {
    .profile-pic{
        max-height:100px;
    }
    .spacing {
        margin-top: 100px;
    
    }
    
    .spacing2 {
        margin-top: 0px;
    }
}

