:root {
    --img-border: 10px solid black;
    --img-border-radius: 50%;
    --panel-margin: 50px;

}

body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(119, 150, 177);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
}


.header {
    padding: 20px;
    flex-direction: row;
    background-color: white;
    border: var(--img-border);
}

.header nav {
    padding-right: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(241, 179, 63);
    border: var(--img-border);
}

/* Determines list style for the ul tags inside of the nav tags inside of the header class */
.header nav ul {
    list-style-type: none;
}

/* Determines the display and left margin for the li, ul, and nav tags inside of the header class */
.header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: rgb(128, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(245, 61, 61);
  }
  
  /* selected link */
  a:active {
    color: rgb(153, 57, 57);
  }


img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }

#about-me {
    margin-top: 100px;
    flex: 1 0 100%;
    padding: 2rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    width: 70%;
    border: 10px solid black;
    min-width: 0;
    background-image: linear-gradient(
        rgb(226, 240, 247) 0%,
        rgb(186, 211, 221) 100%
        );
}

#work {
    margin-top: var(--panel-margin);
    flex: 1 0 100%;
    padding: 2rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    width: 70%;
    height: auto;
    overflow:auto;
    border: 10px solid black;
    min-width: 0;
    background-image: linear-gradient(
        rgb(226, 240, 247) 0%,
        rgb(150, 187, 202) 100%
        );
}

#contact-me {
    margin-top: var(--panel-margin);
    margin-bottom: var(--panel-margin);
    flex: 1 0 100%;
    padding: 2rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    width: 70%;
    border: 10px solid black;
    min-width: 0;
    height: auto;
    overflow:auto;
    background-image: linear-gradient(
        rgb(226, 240, 247) 0%,
        rgb(186, 211, 221) 100%
        );
}


.profile-pic {
    flex-wrap: wrap;
    float: left;
    margin-top: -15px;
    margin-right: 25px;
    max-height: 150px;
    border: var(--img-border);
    border-radius: var(--img-border-radius);
    object-fit:contain;
    min-width: 0;
}

.work-pic {
    flex-wrap: wrap;
    float: left;
    margin-top: -15px;
    margin-right: 25px;
    max-height: 150px;
    border: var(--img-border);
    border-radius: var(--img-border-radius);
    object-fit:contain;
    min-width: 0;
}

.work-pic1 {
    flex-wrap: wrap;
    float: left;
    margin-top: -15px;
    margin-right: 25px;
    max-height: 150px;
    border: var(--img-border);
    object-fit:contain;
    min-width: 0;
}

.spacing {
    margin-top: 100px;
}

.spacing2 {
    margin-top: 120px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

footer {
    background-color: white;
    border: var(--img-border);
    text-align: center;
}

@media screen and (max-width: 720px) {
    .profile-pic{
        max-height:100px;
    }
    .spacing {
        margin-top: 100px;
    
    }
    
    .spacing2 {
        margin-top: 0px;
    }
}

